:root {
  --color-red: rgb(214, 5, 5);
  --color-skyblue: rgb(206, 230, 238);
  --color-greenblue: rgba(0, 255, 149, 0.3);
}

* {
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  display: grid;
  grid-template-columns: 25vw 1fr;
  height: 100vh;
}

.todo-card-container {
  width: 50vw;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem lightgrey;
  padding: 0.8rem;
  padding-bottom: 0.5rem;
}

.todo-card-container:hover:not(:has(button:hover)):not(:has(input:hover)) {
  background-color: rgb(201, 234, 247);
  position: relative;
}

.todo-card-container:hover:not(:has(button:hover)):not(:has(input:hover))::before {
  content: 'Click to expand or close!';
  font-size: 0.7rem;
  color: grey;
  position: absolute;
  top: -1rem;
  padding: 0 0.5rem;
}

.todo-card-container:active:not(:has(button:hover)):not(:has(input:hover)) {
  filter: brightness(0.8);
}

.todo-card-header {
  padding: 0.5rem;
  padding-top: 0;

  display: grid;
  gap: 0.2rem;
}

.todo-card-title {
  font-size: 1.2rem;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.todo-card-priority {
  font-size: 0.6rem;
  font-weight: bold;
  color: white;
  background-color: var(--color-red);
  width: min-content;
  padding: 0.2rem;
  border-radius: 0.2rem;
}

.todo-card-footer {
  display: grid;
  gap: 0 0.5rem;
  grid-template-columns: 1rem 1fr;
  border-top: 0.1rem solid darkgray;
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  align-items: center;
}

.todo-card-due-date {
  grid-column: 2;
  font-size: 0.8rem;
  display: inline-block;
}

.todo-card-status {
  grid-column: 1;
  grid-row: 1;
  display: inline-block;
  width: 1rem;
  height: 1rem;
}

.todo-card-remove-btn {
  grid-column: 2;
  grid-row: 2;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.3rem;
  border-radius: 0.2rem;
  border: none;
  font-size: 0.7rem;
  position: relative;
  left: 0.5rem;
  justify-self: right;
}

.todo-card-remove-btn:hover {
  filter: brightness(0.8);
}

.todo-card-desc {
  font-size: 1rem;
  padding: 0 0.5rem 0.5rem 0.5rem;
  display: none;
}

.todo-card-desc.shown {
  display: block;
}

.fa-clock {
  color: lightgrey;
}

.fa-circle-check {
  color: rgb(13, 228, 13);
}

.site-icon {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-family: serif;
  font-weight: bold;
  font-style: italic;
  border: 0.2rem double black;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.site-icon:hover {
  animation: rainbow 0.5s linear;
  animation-iteration-count: infinite;
}

@keyframes rainbow {
  100%,
  0% {
    color: rgb(255, 0, 0);
    border-color: rgb(255, 0, 0);
  }
  8% {
    color: rgb(255, 127, 0);
    border-color: rgb(255, 127, 0);
  }
  16% {
    color: rgb(255, 255, 0);
    border-color: rgb(255, 255, 0);
  }
  25% {
    color: rgb(127, 255, 0);
    border-color: rgb(127, 255, 0);
  }
  33% {
    color: rgb(0, 255, 0);
    border-color: rgb(0, 255, 0);
  }
  41% {
    color: rgb(0, 255, 127);
    border-color: rgb(0, 255, 127);
  }
  50% {
    color: rgb(0, 255, 255);
    border-color: rgb(0, 255, 255);
  }
  58% {
    color: rgb(0, 127, 255);
    border-color: rgb(0, 127, 255);
  }
  66% {
    color: rgb(0, 0, 255);
    border-color: rgb(0, 0, 25);
  }
  75% {
    color: rgb(127, 0, 255);
    border-color: rgb(127, 0, 255);
  }
  83% {
    color: rgb(255, 0, 255);
    border-color: rgb(255, 0, 255);
  }
  91% {
    color: rgb(255, 0, 127);
    border-color: rgb(255, 0, 127);
  }
}

.menu-container {
  grid-column: 1;
  background-color: var(--color-skyblue);
  padding: 1rem;
  box-sizing: border-box;
}

.menu-default-group-title,
.menu-custom-group-header {
  text-transform: uppercase;
  font-size: small;
  font-weight: bold;
  padding-bottom: 0.2rem;
}

.menu-custom-group-header {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.menu-custom-group-btn {
  border: none;
  background-color: transparent;
  font-size: 0.9rem;
}

.menu-custom-group-btn:hover,
.menu-custom-group-btn.active {
  filter: opacity(0.3);
}

.menu-default-group,
.menu-custom-group {
  padding-bottom: 0.5rem;
  display: grid;
  font-size: 1rem;
}

.menu-default-group {
  border-bottom: 0.1rem solid grey;
}

.menu-item-container {
  padding: 0.3rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-item-container:not(:has(button:hover)):has(form.hidden):hover,
.menu-item-container.selected:has(form.hidden) {
  background-color: var(--color-greenblue);
}

.menu-item-btn {
  border: none;
  background-color: transparent;
  color: var(--color-red);
  font-size: 0.9rem;
  display: none;
}

.menu-item-btn:hover {
  filter: opacity(0.5);
}

.menu-item-btn.shown {
  display: initial;
}

.menu-item-title-input {
  padding: 0.2rem;
  width: 95%;
}

.proj-view-container {
  margin: 2rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.proj-view-placeholder {
  flex-grow: 1;
  margin: 8rem;
  padding: 3rem;
  border: 0.5rem dashed lightgrey;
  color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
}

.proj-view-add-todo-btn {
  z-index: 25;
  position: fixed;
  right: 10vh;
  bottom: 5vh;
  border: none;
  font-size: 4rem;
  width: 3rem;
  color: darkblue;
  background-color: transparent;
}

.proj-view-add-todo-btn:hover {
  filter: opacity(0.5);
}

.proj-view-title {
  font-size: 2rem;
  font-weight: bold;
}

.proj-view-card-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.new-todo-form-backdrop {
  backdrop-filter: blur(2px) brightness(0.8);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 50;
}

#new-todo-form {
  width: 70vw;
  border: 0.2rem solid darkblue;
  border-radius: 0.5rem;
  background-color: var(--color-skyblue);
}

.new-todo-form-title {
  background-color: darkblue;
  color: white;
  font-weight: bold;
  padding: 0.5rem;
}

.new-todo-form-fields {
  padding: 2rem 0.5rem 1rem 0.5rem;
  display: grid;
  grid-template: repeat(7, 1fr) / 20% 1fr;
  gap: 1rem;
}

.new-todo-desc-input {
  grid-row: span 4;
  resize: none;
  padding: 0.2rem;
}

.new-todo-form-cancel-btn,
.new-todo-form-submit-btn {
  width: 25%;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 2rem;
  font-size: 1rem;
  font-weight: bold;
}

#new-todo-form button:hover {
  filter: opacity(0.5);
}

.new-todo-form-cancel-btn {
  color: darkblue;
}

.new-todo-form-submit-btn {
  background-color: darkblue;
  color: white;
}

.new-todo-form-btn-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 1.5rem;
}

.hidden {
  display: none;
}

